
h1 {
    text-align: center;
    padding: 100px;
    margin: 16px 0px;
    color: #b9d1f5c7;
    background-color: rgb(42, 174, 250);
    border: 2px ridge rgba(0, 0, 0, 0.356);
}

h3 {
    text-align: center;
}

.alinea-1 {
    padding: 0px 10px;
}

.alinea {
    padding: 10px 10px 50px 10px;
}

.vragen {
    text-align: center;
}

.btn {
    margin: 10px 0px;
}
footer {
    height: 200px;
    text-align: center;
    margin: 50px 0px 0px 0px;
    padding-top: 8%;
    background-color: rgb(42, 174, 250);
    border: 2px ridge rgba(0, 0, 0, 0.226);
}
